.login-page,
.register-page {
  min-height: 100vh;
  width: 100%;
  background-image: url('../assets/img/reg.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}
.card {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
}

.fullpage-auth {
  min-height: 100vh;
  width: 100%;
  background-image: url('../assets/img/reg.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.auth-card {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
}

.auth-card input {
  margin-bottom: 15px;
}

.auth-card button {
  width: 100%;
}

.auth-card p a {
  color: #dc3545;
  text-decoration: none;
}

.auth-card p a:hover {
  text-decoration: underline;
}

